#-----------------------------------------------------------------------------------------------------------------------
# Settings of service companion-file
#-----------------------------------------------------------------------------------------------------------------------

# Service name
spring.application.name = companion-file

# Port
server.port =

# Database connection
spring.datasource.url =
spring.datasource.username =
spring.datasource.password =

# JPA settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Storage settings
upload.path =

# Eureka settings
eureka.client.service-url.defaultZone =
