#-----------------------------------------------------------------------------------------------------------------------
# Settings of service companion-file
#-----------------------------------------------------------------------------------------------------------------------

# Port
server.port =

# Database connection
spring.datasource.url =
spring.datasource.username =
spring.datasource.password =

# JPA settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

# Storage settings
upload.path =